/************ PAGE GENERICS ******************/
body {
    font-family: 'PT Sans', sans-serif;
    background: crimson;
}

.container {
    max-width: 600px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

.btn {
    display: inline-block;
    padding: 8px 16px;
    border-radius: 16px;
    background-color: white;
    color: black;
}

.btn-blue {
    background-color: var(--primary);
    color: white;
}


/************ HEADER ******************/
header {
    height: 80px;
    color: white;
}

.header-wrapper {
    height: 100%;
}

header nav {
    display: none;
}

header a {
    color: white;
}

/************ INTRO *******************/
.card {
    margin-bottom: 16px;
    padding: 16px;
    border-radius: 16px;
    text-align: center;
}

.card i {
    font-size: 5rem;
}

.card > i,
.card > h3,
.card > p {
    margin: 1rem 0;
}

.card-image {
    display: block;
    width: 100%;
    max-width: 250px;
    margin-bottom: -16px;
}

/**************************************************/
/****************** RESPONSIVE ********************/
/**************************************************/

/* TABLET */
@media (min-width: 768px) {

    /************ PAGE GENERICS ******************/
    body {
        background: orange;
    }

    .container {
        max-width: 750px;
    }

    /************ INTRO *******************/
    #cards {
        display: flex;
        flex-wrap: wrap;
        margin: -8px;
    }

    .card {
        width: calc(33.3333% - 16px);
        margin: 8px;
    }

    .card-big {
        width: calc(66.6666% - 16px)
    }


}

/* DESKTOP */
@media (min-width: 992px) {
    /************ PAGE GENERICS ******************/
    body {
        background: yellow;
    }

    /************ HEADER ******************/
    header i.fas {
        display: none;
    }

    header nav {
        display: block;
    }

    .card-big {
        display: flex;
    }
    .card-big > .card-content {
        width: 60%;
    }
    .card-big > .card-image {
        width: 40%;
        align-self: flex-end;
    }


}